/* <----- Used in Intro -----> */

@keyframes fadeR {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* <----- Used in Intro > Paragraph -----> */

@keyframes write {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* <----- Used in Cover > Image -----> */

@keyframes fadeL {
    from {
        opacity: 0;
        transform: translate(300px, -50%);
    }
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes fadeOut {
    to {
        display: none;
    }
}

/* <----- Used in Cover > Button -----> */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(50%, 50%);
    }
    to {
        opacity: 1;
        transform: translate(50%, 0);
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* <----- Used in Navbar > Activity -----> */

@keyframes ringing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* <----- Used in Navbar > Membership -----> */

@keyframes rotate180 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes re-rotate180 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* <----- Used in Navbar > Switch (Sun & Moon) -----> */

@keyframes rotate-sun { 
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes tilt-moon {
 
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* <----- Used in (Navbar > Profile) & (Hidden Profile > Save & Wishlist) -----> */

@keyframes jump {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(0);
    }
}

/* <----- Used in Toggle Menu > fa-arrow-right -----> */

@keyframes arrow-sign {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(15px);
        opacity: 0;
    }
    66%{
        transform: translateX(-15px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* <----- Toggle Menu > Profile Pics > fa-pen -----> */

@keyframes pen-sign {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px) rotate(180deg);
    }
    100%{
        transform: translateY(0) rotate(360deg);
    }
}

/* <----- Toggle Menu > Wishlist > fa-hashtag -----> */

@keyframes flip {
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(-1, 1);
    }
    100%{
        transform: scale(1, 1);
    }
}

/* <----- Hidden Profile >  Download Terabox Btn > fa-arrow-circle-right -----> */

@keyframes animateHeight {
    to {
        height: 80px;
    }
}

@keyframes animateHeightReverse {
    from {
        height: 80px;
    }
    to {
        height: 40px;
    }
}